<div class="container-fluid">
  {{#bulma-nav hasShadow=true}}

    <span id="nav-toggle" class="nav-toggle">
      <span></span>
      <span></span>
      <span></span>
    </span>

    <div id="nav-menu" class="nav-left nav-menu">
      <div class="nav-item is-brand">
        <h1 class="title is-4">CVE Categorization</h1>
      </div>
      {{link-to 'Technologies' 'technologies' classNames='nav-item is-tab'}}
    </div>

    <div id="secondary-nav"></div>
  {{/bulma-nav}}

</div>
<div id="main-content" class="container-fluid">
  {{outlet}}
</div>
