<div class="container-fluid">
  <nav class="nav">
    <div class="nav-left">
      <a class="nav-item is-brand" href="http://api.contrastsecurity.com">
        Contrast Security
      </a>
    </div>

    <span id="nav-toggle" class="nav-toggle">
      <span></span>
      <span></span>
      <span></span>
    </span>

    <div id="nav-menu" class="nav-left nav-menu">
      {{link-to 'Home' 'technologies' classNames='nav-item is-tab'}}
    </div>

    <div class="nav-right">
      <div class="nav-item">
        <p class="control has-addons">
          <input class="input" type="text" placeholder="Find a repository">
          <a class="button is-info">
            Search
          </a>
        </p>
      </div>
    </div>
  </nav>
</div>
<div class="container">
  <h1 class="title is-1">Welcome to CVE Categorization</h1>
  {{outlet}}
</div>
