<div class="container">
  <nav class="nav">
    <div class="nav-left">
      <a class="nav-item is-brand" href="http://api.contrastsecurity.com">
        <img src="https://api.contrastsecurity.com/images/logo-api.png" alt="Contrast Security">
      </a>
    </div>

    <span id="nav-toggle" class="nav-toggle">
      <span></span>
      <span></span>
      <span></span>
    </span>

    <div id="nav-menu" class="nav-right nav-menu">
      {{link-to 'Home' 'technologies' classNames='nav-item'}}
    </div>
  </nav>
</div>
<div class="container">
  <h1 class="title is-1">Welcome to CVE Categorization</h1>
  {{outlet}}
</div>
