<div class="container-fluid">
  <nav class="nav has-shadow">

    <span id="nav-toggle" class="nav-toggle">
      <span></span>
      <span></span>
      <span></span>
    </span>

    <div id="nav-menu" class="nav-left nav-menu">
      <a class="nav-item is-brand" href="http://api.contrastsecurity.com">
        <h1 class="title is-3">Contrast Security</h1>
      </a>
      {{link-to 'Home' 'technologies' classNames='nav-item is-tab'}}
    </div>
  </nav>
</div>
<div id="main-content" class="container-fluid">
  {{outlet}}
</div>
