<div class="columns">
  <div class="column">
    <table class="table">
      <thead>
        {{technology-row technologyAdded='createTechnology'}}
      </thead>
      <tbody>
        {{#each model as |technology|}}
          {{technology-row model=technology}}
        {{/each}}
      </tbody>
    </table>
  </div>
  {{outlet}}
</div>
